.fade-slide-enter-active, .fade-slide-leave-active {
    transition: all 0.3s ease-in-out;
  }
.fade-slide-enter, .fade-slide-leave-to {
    opacity: 0;
    transform: translateX(30px);
}

.mobile-th {
    display: none;
}

@media only screen and (max-width: 768px) {
    #ticker-table .mobile-th {
        display: block;
        font-size: 12px;
        font-weight: 700;
        margin-bottom: 10px;
        /* text-decoration: underline */
    }

    #ticker-table table,
    #ticker-table thead,
    #ticker-table tbody,
    #ticker-table th,
    #ticker-table tr,
    #ticker-table td { 
		display: block; 
    }
    
	#ticker-table thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	#ticker-table tr { 
        border-bottom: 1px solid #666; 
    }

    #ticker-table tr:last-child { 
        border-bottom: 0;
    }
	
	#ticker-table td { 
		border: none;
		border-bottom: 1px solid #d7e0e4; 
        position: relative;
    }
    
    #ticker-table td:last-child {
        border-bottom: 0;
    }
}